[run]
omit =
    */tests/*
    *__init__*
    */migrations/*
    ozpricechecker/utils/project_logger.py
    ozpricechecker/manage.py

[report]
omit =
    */tests/*
    *__init__*
    */migrations/*
    ozpricechecker/utils/project_logger.py
    ozpricechecker/manage.py
    ozpricechecker/ozpricechecker/wsgi.py

exclude_lines =
    class SeleniumChromeSession
    class WaitCondition
    class ScraperWait
    def scrape_with_selenium
