{% extends "base.html" %}

{% block content %}
    <h1 class="text-capitalize" align="center">{{ user.get_username }}'s Product List</h1>

    <table class="table">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        User Product
                        <a class="badge badge-primary" href="{% url "userproduct_add" %}">+</a>
                    </th>
                    <th class="text-right" scope="col">Threshhold Price</th>
                    <th class="text-right" scope="col">Price</th>
                    <th scope="col">Curency</th>
                    <th class="text-center" scope="col">Price Date</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user_product in userproduct_list %}
                    {% if user_product.is_threshhold_reached %}
                        <tr class="table-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td>{{user_product.product}}</td>
                            <td align="right" class="font-weight-bold">{{user_product.threshhold}}</td>
                            <td align="right">{{user_product.product.latest_price}}</td>
                            <td>{{user_product.product.store.currency}}</td>
                            <td align="center">{{user_product.product.date_for_latest_price}}</td>
                            <td align="center">
                                <a class="text-primary" href="{% url "userproduct_update"  user_product.id  %}">edit</a>
                                \ 
                                <a class="text-danger" href="{% url "userproduct_delete"  user_product.id  %}">delete</a>
                            </td>
                        </tr>
                {% empty %}
                    <li>No user product yet.</li>
                {% endfor %}
            </tbody>
        <tr></tr>
        </tr>
    </table>

{% endblock %}
